.contato{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 150px;
    font-family: "Inter", sans-serif;
    font-size: 30px;

& .contato-container {
    display: flex;
    gap: 50px;
    font-size: 30px;
    justify-items: center;
}
}